{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Login</h1>
        <form method="post">
        {% comment %} <form method="post">
          <input type="text" name="username">
          <input type="password" name="password"> {% endcomment %}
          {% csrf_token %}
          {{ form.as_p }}
          <button>Login</button>
        </form>
      </div>
{% endblock content %}