{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Sign Up</h1>
        <form method="post">
            {% comment %} <input type="text" name="username">
            <input type="password" name="password1">
            <input type="password" name="password2">
            <button type="submit">Sign Up</button> {% endcomment %}
            {% csrf_token %}
            {{ form.as_p }}
            <button>Signup</button>
        </form>
    </div>
{% endblock content %}