{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {% comment %} <input type="text" name="vendor">
                <input type="text" name="total">
                <input type="text" name="tax">
                <input type="text" name="date">
                <select name="category"></select>
                <select name="account"</select>
                <button>Create</button> {% endcomment %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
    </div>
{% endblock content %}

